<%- include('partials/header') %>
  <div class="titlepage">
    <h1 class="title"><%= title %></h1>
    <p class="subtitle">Welcome to your flight booking system.</p>
    <p class="subtitle">Click a link above to navigate to your desired page.</p>
  </div>


<%- include('partials/footer') %>